<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="text/javascript" href="/javascripts/jquery.js">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Document</title>
    <style>
        *{
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>
