<% include ../partials/header %>
<% include ../partials/navbar %>
<h1 class="display-5 m-4 text-center font-weight-bolder">Project Details</h1>
<div class=" container bg-light form p-3 mb-5">

<% include ../partials/detailbar %>
        <div id="page-content-wrapper">
            <div class="mt-4">
            </div>
            <div class="container-fluid">
            
            <div class=" card bg-light mb-3">
                <div class="card-header">
                    <h3>Project #6 (pembangunan bla bla)</h3>
                    <strong>tanggal pokoknya</strong>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <span class="badge badge-primary">waktu aktivitas</span><br />
                        nama aktivitas keterangan aktivitas<br />
                        Author: list author
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<% include ../partials/footer %>