<%- include('../partials/header'); %>

<body>
  <%- include('../partials/navbar'); %>
  <h1 class="display-5 m-4 text-center font-weight-bolder">Project Details</h1>
  <div class=" container bg-light form p-3 mb-5">
    <%- include('../partials/detailbar') %>

    <ul class="list-group list-group-flush mt-4 shadow-sm border-0">
      <li class="list-group-item border-0 font-weight-bolder">Issues Tracking</li>
      <li class="list-group-item border-0">Bug</li>
      <li class="list-group-item border-0">Feature</li>
      <li class="list-group-item border-0">Support</li>
    </ul>

    <ul class="list-group list-group-flush mt-4 shadow-sm border-0">
      <li class="list-group-item border-0 font-weight-bolder">Members</li>
      <li class="list-group-item border-0">Bug</li>
      <li class="list-group-item border-0">Feature</li>
      <li class="list-group-item border-0">Support</li>
    </ul>
  </div>
</body>
<%- include('../partials/footer'); %>