.form {
    -webkit-box-shadow: 0px 4px 18px 3px rgba(159, 227, 252, 0.4);
    -moz-box-shadow: 0px 4px 18px 3px rgba(159, 227, 252, 0.4);
    box-shadow: 0px 4px 18px 3px rgba(159, 227, 252, 0.4);
}

.wave-bottom {
    position: fixed;
    bottom: 0px;
    left: 50%;
    display: block;
    z-index: -9999;
    left: 0;
}

.wave-top {
    position: fixed;
    top: 0px;
    left: 50%;
    display: block;
    z-index: -9999;
    left: 0;
}

.toast{
    position: absolute;
    bottom: 0;
    opacity: 1;
}

.toast-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.sidebar{
    padding: 5px;
    position: fixed;
    height: 92.5vh;
}
.sidebar ul {
    color : black
}

.sidebar ul li{
    list-style-type: none;
    margin-left: -2vw;
    margin-bottom: 5px;
}

.sidebar ul li a {
    margin: 10px;
    color: gray;
    text-decoration: none;
}

.sidebar ul li a:hover {
color:black
}
